* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    touch-action: none;
}

svg{
    pointer-events: none;
}

body{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    font-size: 64px;
    margin: 0;
    overscroll-behavior: none;
}

#editor{
    display: none;
    width: 100%;
    height: 100%;
}

#viewer{
    display: none;
    width: 100%;
    height: 100%;    
}

.button{
    width: 0.5em;
    height: 0.5em;
    position: absolute;
    color: white;
    background-repeat: no-repeat;
}

#rotate-left{
    margin: auto;
    top: 0.25em;
    left: -2em;
    right: 0;
    background-image: url("svg/redo-solid.svg");
}

#rotate-right{
    margin: auto;
    top: 0.25em;
    left: 2em;
    right: 0;
    background-image: url("svg/redo-solid.svg");
}

#previous{
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0.25em;
    background-image: url("svg/chevron-left-solid.svg");
}

#next{
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0.25em;
    background-image: url("svg/chevron-left-solid.svg");
    transform: rotate(180deg);
}

#edit{
    bottom: 0.25em;
    right: 0.25em;
    background-image: url("svg/pencil-alt-solid.svg");
}

#view{
    bottom: 0.25em;
    right: 0.25em;
    background-image: url("svg/pencil-alt-solid.svg");
}

#flip-x{
    margin: auto;
    top: 0.25em;
    left: 4em;
    right: 0;
    background-image: url("svg/arrows-alt-h-solid.svg");
}

#flip-y{
    margin: auto;
    top: 0.25em;
    left: -4em;
    right: 0;
    background-image: url("svg/arrows-alt-h-solid.svg");
    transform: rotate(90deg);
}

#clear{
    margin: auto;
    bottom: 0.25em;
    left: 0;
    right: 0;
    background-image: url("svg/trash-alt-solid.svg");
}

#swap-colors{
    margin: auto;
    left: 1.125em;
    top: 0;
    bottom: 0;
    background-image: url("svg/arrows-alt-h-solid.svg");
    transform: rotate(90deg);
}

#symmetry-x{
    margin: auto;
    bottom: 0.25em;
    left: -2em;
    right: 0;
    background-image: url("svg/exchange-alt-solid.svg");
}

#symmetry-y{
    margin: auto;
    bottom: 0.25em;
    left: 2em;
    right: 0;
    background-image: url("svg/exchange-alt-solid.svg");
    transform: rotate(90deg);
}

#color-palette{
    position: absolute;
    font-size: 0.7em;
    width: 4em;
}

#background-palette{
    position: absolute;
    bottom: 0;
    font-size: 0.7em;
    width: 4em;
}

#symbol-palette{
    position: absolute;
    right: 0;
    font-size: 0.7em;
    width: 4em;
}

#symbol-palette div{
    opacity: 0.25;
}

#symbol-palette div.selected{
    opacity: 1;
}

.palette div{
    float: left;
    width: 1em;
    height: 1em;
}

.palette div.selected{
    outline: 2px solid white;
    outline-offset: -2px;
}

.block-art{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
}

.block{
    float: left;
    box-sizing: border-box;
    width: 1em;
    height: 1em;
}

#preview-block{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.block-art.editing .block {
    outline: 1px dashed rgba(255, 255, 255, 0.15);
}

.disabled {
    opacity: 0.25;
}